* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 335px;
  text-align: center;

  background-image: url(https://i.ibb.co/gRQzwBB/background-image-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


h1 {
  font-family: 'Cinzel';
  font-size: 64px;
  line-height: 86px;
  text-align: center;

  color: #151718;
}

h1 span {
  color: #DB2777;
}

p {
  font-family: 'Inter';
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding-top: 4px;

  color: rgba(44, 46, 47, 0.9);

  margin-bottom: 88px;
  ;
}

a {
  padding: 16px 32px;
  gap: 8px;

  text-decoration: none;
  color: #151718;

}

a:hover,
.btn-primary {
  background: #DB2777;
  border-radius: 80px;

  font-family: 'Cinzel';
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #FFFFFF;
}